body{
	background-color: #e2e2e2;
	color: #fff;
	font-family: 'Open Sans';
}

button{
	height: 40px;
	font-size: 30px;
	background-color: #9bc402;
	color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}
p{
	font-size: 30px;
}
.info{
	display: flex;
	width: 750px;
	justify-content: space-between;
	margin: 0 auto;
	-ms-align-items: center;
	align-items: center;
}
.pole{
	width: 750px;
	height: 500px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	background-color: #9bc402;
	background-image: url(http://orlando-sod-depot.com/img/carousel/justgrass.jpg);
	border: 4px solid black;
}

.exel{
	width: 50px;
	height: 50px; 
}

.telo{
	background: #dcdcdc;
	background-size:cover;
	border-radius: 10px;
}

.head{
	background: #9bc402;
	background-image: url(https://www.seekpng.com/png/detail/11-116465_putin-head-png-clipart-free-vladimir-putin-face.png);
	background-size:cover;
	border-radius: 510px;
}
.mouse{
	background-image: url(https://i.ya-webdesign.com/images/obama-face-png.png);
	background-size:cover;
	border-radius: 50%;
}
  